$global-weight-heavy: 700;
$global-weight-bold: 500;
$global-weight-med: 300;
$global-weight-lite: 100;

$global-margin: 2rem;
$global-padding: 2rem;
$global-spacing: 2rem;

$global-ease: ease;
$global-ease-speed: .3s;

$global-nav-anchor-line-height: 1.3em;

$grid-padding: 15px;