@charset "UTF-8";

@font-face {
  font-family: "ajmn-font";
  src:url("../fonts/ajmn-icon-font.eot");
  src:url("../fonts/ajmn-icon-font.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ajmn-icon-font.woff") format("woff"),
    url("../fonts/ajmn-icon-font.ttf") format("truetype"),
    url("../fonts/ajmn-icon-font.svg#ajmn-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "ajmn-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ajmn-"]:before,
[class*=" ajmn-"]:before {
  font-family: "ajmn-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ajmn-alert:before {
  content: "a";
}
.ajmn-arrow:before {
  content: "b";
}
.ajmn-arrow-ring:before {
  content: "c";
}
.ajmn-avatar:before {
  content: "d";
}
.ajmn-calendar:before {
  content: "e";
}
.ajmn-caret-down:before {
  content: "f";
}
.ajmn-caret-left:before {
  content: "g";
}
.ajmn-caret-right:before {
  content: "h";
}
.ajmn-caret-up:before {
  content: "i";
}
.ajmn-chat:before {
  content: "j";
}
.ajmn-chevron-left:before {
  content: "k";
}
.ajmn-chevron-right:before {
  content: "l";
}
.ajmn-clock:before {
  content: "m";
}
.ajmn-closed-quotes:before {
  content: "n";
}
.ajmn-double-chevron-left:before {
  content: "o";
}
.ajmn-double-chevron-right:before {
  content: "p";
}
.ajmn-download:before {
  content: "q";
}
.ajmn-expand:before {
  content: "r";
}
.ajmn-facebook:before {
  content: "s";
}
.ajmn-fast-forward:before {
  content: "t";
}
.ajmn-forward:before {
  content: "u";
}
.ajmn-google-plus:before {
  content: "v";
}
.ajmn-grid:before {
  content: "w";
}
.ajmn-info:before {
  content: "x";
}
.ajmn-instagram:before {
  content: "y";
}
.ajmn-justified:before {
  content: "z";
}
.ajmn-left-aligned:before {
  content: "A";
}
.ajmn-linkedin:before {
  content: "B";
}
.ajmn-list:before {
  content: "C";
}
.ajmn-live-feed:before {
  content: "D";
}
.ajmn-location:before {
  content: "E";
}
.ajmn-mail:before {
  content: "F";
}
.ajmn-menu:before {
  content: "G";
}
.ajmn-more:before {
  content: "H";
}
.ajmn-open-quotes:before {
  content: "I";
}
.ajmn-pause:before {
  content: "J";
}
.ajmn-photo:before {
  content: "K";
}
.ajmn-photo-gallery:before {
  content: "L";
}
.ajmn-play:before {
  content: "M";
}
.ajmn-plus:before {
  content: "N";
}
.ajmn-printer:before {
  content: "O";
}
.ajmn-record:before {
  content: "P";
}
.ajmn-refresh:before {
  content: "Q";
}
.ajmn-rewind:before {
  content: "R";
}
.ajmn-right-aligned:before {
  content: "S";
}
.ajmn-rss:before {
  content: "T";
}
.ajmn-search:before {
  content: "U";
}
.ajmn-settings:before {
  content: "V";
}
.ajmn-share:before {
  content: "W";
}
.ajmn-star:before {
  content: "X";
}
.ajmn-stop:before {
  content: "Y";
}
.ajmn-trash:before {
  content: "Z";
}
.ajmn-twitter:before {
  content: "0";
}
.ajmn-video:before {
  content: "1";
}
.ajmn-video-gallery:before {
  content: "2";
}
.ajmn-volume:before {
  content: "3";
}
.ajmn-volume-up:before {
  content: "4";
}
.ajmn-youtube:before {
  content: "5";
}
