// @charset "UTF-8";
@import "settings/settings";

@import "base/colors";
@import "base/media-queries";
@import "base/grid";
@import "base/typography";

@import "helpers/mixins";
@import "helpers/placeholders";
@import "helpers/text-utils";
@import "helpers/logged-in";

@import "elements/anchors";
@import "elements/inputs";
@import "elements/buttons";

@import "components/icons";
@import "components/dls-widget-wrapper";
@import "components/nav";
@import "components/menus";
@import "components/entry";
@import "components/post-list-item";

@import "layout/site-header";
@import "layout/sidebar";
@import "layout/footer";

@import "templates/single-page-template";

@import "pages/home";
// @import "pages/digital-page";
// @import "pages/print-page";
// @import "pages/onair-page";

// @import "vendor/fontastic";

// @import "ie";

.article-title,
.article-description,
.article-content,
.downloadlink{
  display: block;
}

// .title{
//   background-color: blue;
//   border: solid thin orange;
// }

.article-description{
  // background-color: pink;
  // border: solid thin red;
  margin-bottom: 2rem;
}

// .body-content{
//   background-color: yellow;
//   border: solid thin green;
// }

// .entry-title{}
// .entry-content{}

.title-slide{
  background-color: $secondary-color;
  border: solid thin #ddd;
  color: white;
  .title{
    @extend %h1-rwd;
    font-weight: $global-weight-heavy;
    color: white;
  }
  p{
    color: white;
    @extend %h2-rwd;
    line-height: 1.125em;
  }
  @include medium-screen{
    padding: 80px;
  }
}

.title-slide-alt{
  @extend .title-slide;
  background-color: $primary-color;
  margin-bottom: 20px;
  .title{
    color: $light-gray;
  }
  p{
    @extend %h4-rwd;
  }
}

.manifesto-wrapper{
  // border: solid thin red;
  .title-slide-alt{
    // border: solid thin pink;
  }
}


.entry-title a:hover,
.entry-title a:focus {
  color: $secondary-color;
}

// Code
.entry-content code{
  padding: 5px;
}