
// @import "compass/reset";
@import "print/print-menu";
@import "print/print-sidebar";
@import "layout/footer";
@import "font";
// @import "fontastic";

.title-area{
  border: solid thin red;
  width: 360px;
}

.logo-wrapper{
  border: solid thin red;
  background-color: pink;
  img{
    border: solid thin green;
    float: left;
    width: 50px;
    height: auto;
  }
}
.site-search{
  background-color: orange;
  .search-form{
    float: none;
    input{
      float: left;
    }
    input[type="search"]{
      width: 300px;
    }
  }
}
h1.entry-title{
  background-color: pink;
}

.menu-elements-side-bar-menu-container{
  background-color: #eee;
}