.site-footer{
  padding-top:15px;
  padding-bottom:15px;
  display: none;
}

.footer-widgets{
  padding: 0;
  font-size: 16px;
  .wrap{
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .widget ul > li{
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .footer-widgets-1{
    float: none;
    margin-left: auto;
    margin-right: auto;
    @include medium-screen{
      height: 65px;
    }
  }
}

.dls-container{
  max-width: $large-width;
  margin-left: auto;
  margin-right: auto;
}

.footer-widgets-1{
  width: 100%;
  background-color: $dark-gray;
  margin-bottom: 0;
  section{
    padding: 10px;
    padding-right: 0;
    width: 100%;
    display: inline-block;
  }
  .widget{
    margin-bottom: 0;
  }
  .widget-title{
    display: none;
  }
  #nav_menu-4{
    // border: solid thin pink;
    li{
      display: inline-block;
    }
  }
  #text-3{
    // border: solid thin red;
  }
  @include medium-screen{
    section{
      width: 50%;
    }
    .widget{
      float: left;
    }
  }
}

.menu-footer-menu-top-left-container{
  // background-color: blue;
  margin-top: 7px;
}
ul#menu-footer-menu-top-left{
  li{
    padding: 5px 10px;
    // border: solid thin grey;
  }
  a{
    color: white;
  }
}

#genesis-footer-widgets{
  .widgettitle{
    display: none;
  }
  .dls-widget-outer-wrapper{
    background-color: $black;
    padding-bottom: $global-padding;
  }
  .footer-widgets-2{
    width: 100%;
    margin-bottom: $global-margin;
  }
  .footer-widgets-3{
    width: 100%;
    float: none;
    padding: 20px;
    img{
      width: 100%;
      height: auto;
      max-width: 210px;
    }
  }
  .footer-links{
    a{
      &:hover{
        color: $secondary-color;
        text-decoration: underline;
      }  
    }
  }
  @include medium-screen{
    .footer-widgets-2{
      width: 66.66%;
    }
    .footer-widgets-3{
      width: 33.33%;
      float: right;
    }
    .footer-links.network{
      width: 33.33%;
    }
    .footer-links.channels{
      width: 66.66%;
    }
    .dls-widget-inner-wrapper{
      height: 230px;
    }
    .footer-logo{
      text-align: right;
    }
  }
}

.social-list{
  li{
    display: inline-block;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  a{
    text-decoration: none;
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    line-height: 45px;
    text-align: center;
    color: $light-gray;
    transition: background-color ease $global-ease-speed;
    &:hover{
      color: $secondary-color;
      background-color: rgba(255,255,255,0.2);
    }
  }
  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    line-height: 45px;
  }
  // @include medium-screen{
  //   text-align: right;
  // }
}

.footer-links.network,
.footer-links.channels{
  float: left;
}
.footer-links{
  margin-bottom: $global-margin;
  h3, a{
    color: $light-gray;
  }
}
.footer-links.network,
.footer-links.channels{
  width: 100%;
}
.footer-links.channels{
  .footer-list-wrapper{
    float: left;
  }
  .channels-list{
    width: 50%;
  }
  .channels-cont-list{
    width: 50%;
  }
  @include medium-screen{
    // .channels-list{
    //   width: 33.33%;
    // }
    // .channels-cont-list{
    //   width: 66.66%;
    // }
  }
}
.footer-widgets-2 .widget-wrap{
  padding: 15px;
}

.footer-logo{
  a{
    display: block;
    margin-top: 30px;
  }
  p{
    color: white;
  }
  img{}
}
.copyright-notice{
  // background-color: #eee;
  color: $light-gray;
  span{
    display: block;
  }
  @include large-screen{
    span{
      display: inline-block;
    }
  }
}