.footer-widgets{
  // background-color: #fff;
  // font-size: 18px;
  // font-size: 1.8rem;
  // clear: both;
  padding: 0;
  .wrap{
    max-width: 100%;
  }
  .widget ul > li{
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .footer-widgets-1{
    float: none;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
  }
}

.dls-container{
  max-width: $large-width;
  margin-left: auto;
  margin-right: auto;
}

.wrap .footer-widgets-1{
  width: 100%;
  background-color: $dark-gray;
  section{
    padding: 10px;
    padding-right: 0;
    width: 50%;
    display: inline-block;
  }
  .widget{
    margin-bottom: 0;
    float: left;
  }
  .widget-title{
    display: none;
  }
  #nav_menu-4{
    li{
      display: inline-block;
    }
  }
  #text-3{}
}

.menu-footer-menu-top-left-container{
  // background-color: blue;
  margin-top: 7px;
}
ul#menu-footer-menu-top-left{
  li{
    padding: 5px 10px;
    // border: solid thin grey;
  }
  a{
    color: white;
  }
}

#genesis-footer-widgets{
  .dls-widget-outer-wrapper{
    background-color: $black;
  }
  .dls-widget-inner-wrapper{
    height: 230px;
  }
  .footer-widgets-2{
    width: 60%;
    h3{
      color: white;
    }
  }
  .footer-widgets-3{
    width: 40%;
    img{
      width: 100%;
      height: auto;
      max-width: 230px;
    }
    // border: solid thin red;
    // background-color: #bbb;
  }
}

#genesis-footer-widgets .social-list{
  text-align: right;

  li{
    display: inline-block;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  a{
    text-decoration: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    line-height: 50px;
    text-align: center;
    color: $light-gray;
    transition: background-color ease $global-ease-speed;
    &:hover{
      color: $secondary-color;
      background-color: rgba(255,255,255,0.2);
    }
  }
  [class^="ajmn-"]:before,
  [class*=" ajmn-"]:before {
    line-height: 50px;
  }
}

.footer-links.network,
.footer-links.channels{
  float: left;
}
.footer-links{
  margin-bottom: 15px;
  a{
    color: white;
  }
}
.footer-links.network{
  width: 33.33%;
}
.footer-links.channels{
  width: 66.66%;
  .footer-list-wrapper{
    float: left;
  }
  .channels-list{
    width: 33.33%;
  }
  .channels-cont-list{
    width: 66.66%;
  }
}
.footer-widgets-2 .widget-wrap{
  padding: 15px;
}

.footer-logo{
  text-align: right;
  a{
    display: block;
    margin-top: 30px;
  }
  p{
    color: white;
  }
  img{}
}

.site-footer{
  padding-top:15px;
  padding-bottom:15px;
  display: none;
}