.footer-widgets{
  border: solid thin red;
}

.wrap .footer-widgets-1{
  width: 100%;
  // background-color: orange;
  section{
    border: solid thin blue;
    // background-color: yellow;
    padding: 10px;
    width: 50%;
    display: inline-block;
  }
  .widget{
    margin-bottom: 0;
    float: left;
  }
  .widget-title{
    display: none;
  }
  #nav_menu-4{
    li{
      display: inline-block;
    }
  }
  #text-3{}
}

.footer-widgets-2{}

.footer-widgets-3{}

.menu-footer-menu-top-left-container{
  // background-color: blue;
}

#genesis-footer-widgets .social-list{
  text-align: right;
  li{
    display: inline-block;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  a{
    text-decoration: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #eee;
    border: solid thin #ddd;
  }
}

.footer-widgets-2{
  border: solid thin #ddd;
  background-color: #eee;
  width: 66.66%;
}
.footer-list-wrapper{
  // width: 33.33%;
  // background-color: green;
  // float: left;
}

.footer-links.network,
.footer-links.channels{
  float: left;
}
.footer-links{
  margin-bottom: 15px;
}
.footer-links.network{
  width: 33.33%;
}
.footer-links.channels{
  width: 66.66%;
  .footer-list-wrapper{
    float: left;
  }
  .channels-list{
    width: 33.33%;
  }
  .channels-cont-list{
    width: 66.66%;
  }
}
.footer-widgets-2 .widget-wrap{
  padding: 15px;
}