.site-header{
  background-color: $primary-color;
  & > .wrap {
    padding: 10px;
  }
}

.logo-wrapper{
  height: 50px;
  .site-logo{
    float: left;
    margin-right: 10px;
    width: 50px;
    height: auto;
  }
  .site-name{
    color: white;
    @extend %h3-rwd;
    font-weight: bold;
    padding-top: 10px;
  }
  @include desktop-max{
    margin-bottom: 10px;
    
  }
  @include desktop{
    .site-name{
      padding-top: 5px;
    }
  }
}