.site-header{
  background-color: $primary-color;
  & > .wrap {
    padding: 10px;
  }
  @include tablet{
    // border: solid thick red;
  }
}

.logo-wrapper{
  height: 50px;
  // background-color: pink;
  // border: solid thin blue;
  .site-logo{
    float: left;
    margin-right: 10px;
    width: 50px;
    height: auto;
  }
  .site-name{
    color: white;
    height: 50px;
    line-height: 50px;
    // border: solid thin red;
    @extend %h3-rwd;
    font-weight: bold;
  }
  @include tablet-max{
    margin-bottom: 10px;
  }
  @include tablet {}
}

.site-search{
  // background-color: yellow;
  // border: solid thin red;
  .search-form{
    float: none;
    width: 400px;
    margin: 0;
    input{
      float: left;
    }
    input[type="search"]{
      width: 300px;
    }
    input[type="submit"]{
      margin-top: 0;
      width: 90px;
    }
  }
  @include desktop {
    width: 50%;
    float: right;
    margin-top: -47px;
    .search-form{
      float: right;
    }
  }
}