@charset "UTF-8";

@font-face {
  font-family: "ajmn-icons";
  src:url("../fonts/ajmn-icons.eot");
  src:url("../fonts/ajmn-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ajmn-icons.woff") format("woff"),
    url("../fonts/ajmn-icons.ttf") format("truetype"),
    url("../fonts/ajmn-icons.svg#ajmn-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ajmn-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ajmn-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ajmn-accessible:before {
  content: "\61";
}
.icon-ajmn-chevron-right:before {
  content: "\62";
}
.icon-ajmn-fast-forward:before {
  content: "\63";
}
.icon-ajmn-loading:before {
  content: "\64";
}
.icon-ajmn-profile:before {
  content: "\65";
}
.icon-ajmn-star:before {
  content: "\66";
}
.icon-ajmn-stop:before {
  content: "\67";
}
.icon-ajmn-question:before {
  content: "\68";
}
.icon-ajmn-location:before {
  content: "\69";
}
.icon-ajmn-flag:before {
  content: "\6a";
}
.icon-ajmn-clock:before {
  content: "\6b";
}
.icon-ajmn-alert:before {
  content: "\6c";
}
.icon-ajmn-arrow:before {
  content: "\6d";
}
.icon-ajmn-close:before {
  content: "\6e";
}
.icon-ajmn-forward:before {
  content: "\6f";
}
.icon-ajmn-mail:before {
  content: "\70";
}
.icon-ajmn-quote-closed:before {
  content: "\71";
}
.icon-ajmn-trash:before {
  content: "\72";
}
.icon-ajmn-arrow-circle:before {
  content: "\73";
}
.icon-ajmn-close-circle:before {
  content: "\74";
}
.icon-ajmn-globe:before {
  content: "\75";
}
.icon-ajmn-menu:before {
  content: "\76";
}
.icon-ajmn-quote-open:before {
  content: "\77";
}
.icon-ajmn-tumblr:before {
  content: "\78";
}
.icon-ajmn-twitter:before {
  content: "\79";
}
.icon-ajmn-record:before {
  content: "\7a";
}
.icon-ajmn-more:before {
  content: "\41";
}
.icon-ajmn-google-plus:before {
  content: "\42";
}
.icon-ajmn-complete:before {
  content: "\43";
}
.icon-ajmn-bookmark:before {
  content: "\44";
}
.icon-ajmn-calendar:before {
  content: "\45";
}
.icon-ajmn-contacts:before {
  content: "\46";
}
.icon-ajmn-grid:before {
  content: "\47";
}
.icon-ajmn-notification:before {
  content: "\48";
}
.icon-ajmn-reddit:before {
  content: "\49";
}
.icon-ajmn-video:before {
  content: "\4a";
}
.icon-ajmn-video-gallery:before {
  content: "\4b";
}
.icon-ajmn-refresh:before {
  content: "\4c";
}
.icon-ajmn-pause:before {
  content: "\4d";
}
.icon-ajmn-heart:before {
  content: "\4e";
}
.icon-ajmn-document:before {
  content: "\4f";
}
.icon-ajmn-caret:before {
  content: "\50";
}
.icon-ajmn-cart:before {
  content: "\51";
}
.icon-ajmn-document-stack:before {
  content: "\52";
}
.icon-ajmn-history:before {
  content: "\53";
}
.icon-ajmn-phone:before {
  content: "\54";
}
.icon-ajmn-rewind:before {
  content: "\55";
}
.icon-ajmn-vol-decrease:before {
  content: "\56";
}
.icon-ajmn-vol-increase:before {
  content: "\57";
}
.icon-ajmn-rss:before {
  content: "\58";
}
.icon-ajmn-photo:before {
  content: "\59";
}
.icon-ajmn-info:before {
  content: "\5a";
}
.icon-ajmn-download:before {
  content: "\30";
}
.icon-ajmn-chat:before {
  content: "\31";
}
.icon-ajmn-check:before {
  content: "\32";
}
.icon-ajmn-edit:before {
  content: "\33";
}
.icon-ajmn-instagram:before {
  content: "\34";
}
.icon-ajmn-photo-gallery:before {
  content: "\35";
}
.icon-ajmn-search:before {
  content: "\36";
}
.icon-ajmn-vol-off:before {
  content: "\37";
}
.icon-ajmn-youtube:before {
  content: "\38";
}
.icon-ajmn-setttings:before {
  content: "\39";
}
.icon-ajmn-play:before {
  content: "\21";
}
.icon-ajmn-linkedin:before {
  content: "\22";
}
.icon-ajmn-embed:before {
  content: "\23";
}
.icon-ajmn-chevron-dbl-left:before {
  content: "\24";
}
.icon-ajmn-chevron-dbl-right:before {
  content: "\25";
}
.icon-ajmn-expand:before {
  content: "\26";
}
.icon-ajmn-list:before {
  content: "\27";
}
.icon-ajmn-plus:before {
  content: "\28";
}
.icon-ajmn-share:before {
  content: "\29";
}
.icon-bullet:before {
  content: "\2a";
}
.icon-ajmn-soundcoud:before {
  content: "\2b";
}
.icon-ajmn-print:before {
  content: "\2c";
}
.icon-ajmn-live-stream:before {
  content: "\2d";
}
.icon-ajmn-facebook:before {
  content: "\2e";
}
.icon-ajmn-chevron-left:before {
  content: "\2f";
}



#icons{
  input{
    display: none;
  }
  .icon{
    transition: all .3s ease-in-out;
    display: inline-block;
    padding:5px;
    &:before{
      font-size: 2em;
      padding: $global-padding;
      margin: 0;
      line-height: 1em;
      display: inline-block;
    }
  }
  [class^="icon-"]::before, 
  [class*=" icon-"]::before {
    transition: color .3s ease-in-out;
  }
  li{
    border: solid thin #eee;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    transition: border-color .3s ease-in-out;
    p{
      margin:0;
    }
    &:hover{
      border-color: #bfbfbf;
      [class^="icon-"]::before, 
      [class*=" icon-"]::before {
        color: $secondary-color;
      }
    }
  }
}