%page-menu{
  text-align: right;
  margin-top: -50px;
  li{
    display: inline-block;
    a{
      height: 50px;
      line-height: 50px;
      padding: 0 15px;
      display: inline-block;
      color: $black;
      &:hover{
        @extend %current-menu-item;
      }
    }
  }
  .widget ul > li{
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .current-menu-item > a{
    @extend %current-menu-item;
  }
}

.digital-menu, 
.print-menu, 
.onair-menu{
  @extend %page-menu;
}


.menu-toggle {
  @include desktop-max{
    height: 50px;
  }
  &.activated{
    border-bottom: solid thin #eee;
  }

}


.second-level-menu.widget-area{
  height: 50px;
  @include desktop-max{
    display: none;
  }
}