%page-menu{
  .wrap{
    background-color: #fff;    
  }
  a{
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    display: block;
    color: $black;
    &:hover{
      @extend %current-menu-item;
    }
  }
  .widget ul > li{
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .current-menu-item > a{
    @extend %current-menu-item;
  }
  @include desktop-max{
    border-bottom: solid thin $light-gray;
    .wrap{
      padding-top: $grid-padding;
      padding-bottom: $grid-padding;
    }
  }
  @include medium-only{
    .wrap{
      padding-left: $grid-padding *1.5;
    }
  }
  @include desktop{
    text-align: right;
    margin-top: -50px;
    li, a{
      display: inline-block;
    }
  }
}

// .digital-menu, 
// .print-menu, 
// .onair-menu{}


.menu-toggle {
  @include desktop-max{
    height: 50px;
  }
  &.activated{
    border-bottom: solid thin #eee;
  }
}

.js nav button:focus,
.js .menu-toggle:focus {
  background-color: #fff;
  color: $black;
}

.dls-menu{

  @extend %page-menu;
  @include desktop-max{
    // padding: $global-padding;
    padding: 5%;
  }
}

#mobile-genesis-nav-primary.activated{
  color: $secondary-color;
}