$black: #000;
$gray: #808080;
$light-gray: #d1d1cf;
$medium-gray: #98999b;
$dark-gray: #54565b;
$quarter_black: #222;
$black_10: rgba(2, 2, 2, 0.1);
$black_20: rgba(0, 0, 0, 0.2);
$black_40: rgba(0, 1, 1, 0.4);
$black_45: rgba(0, 0, 1, 0.45);
$black_50: rgba(0, 0, 0, 0.5);
$black_60: rgba(0, 0, 0, 0.6);

$white: #fff;
$white_70: rgba(255, 255, 255, 0.7);
$white_90: rgba(255, 255, 255, 0.9);
$white_95: rgba(255, 255, 255, 0.95);

$aj-blue: #0c1335;
$aj-yellow: #d8a32a;

$primary-color: $aj-blue;
$secondary-color: $aj-yellow;
// $accent-color: 

$text-color: $quarter-black;
$anchor-color: $secondary-color;


