@font-face {
  font-family: 'Al-Jazeera-Arabic-Light';
  src: url('../fonts/Al-Jazeera-Arabic/Al-Jazeera-Arabic-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Al-Jazeera-Arabic-Regular';
  src: url('../fonts/Al-Jazeera-Arabic/Al-Jazeera-Arabic-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Al-Jazeera-Arabic-Bold';
  src: url('../fonts/Al-Jazeera-Arabic/Al-Jazeera-Arabic-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Al-Jazeera-Arabic-Heavy';
  src: url('../fonts/Al-Jazeera-Arabic/Al-Jazeera-Arabic-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'Al-Jazeera-Arabic-Light';
  src: url('../fonts/Al-Jazeera-Arabic/Al-Jazeera-Arabic-Light.ttf') format('truetype');
}

// .arabic-light{
//   font-family: 'Al-Jazeera-Arabic-Light';
// }

// .arabic-regular{
//   font-family: 'Al-Jazeera-Arabic-Regular';
// }

// .arabic-bold{
//   font-family: 'Al-Jazeera-Arabic-Bold';
// }

// .arabic-heavy{
//   font-family: 'Al-Jazeera-Arabic-Heavy';
// }

@font-face {
  font-family: 'Helvetica-Neue-LT-Bold';
  src: url('../fonts/Helvetica-Neue-LT/Helvetica-Neue-LT-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Helvetica-Neue-LT-Light';
  src: url('../fonts/Helvetica-Neue-LT/Helvetica-Neue-LT-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Helvetica-Neue-LT-Roman';
  src: url('../fonts/Helvetica-Neue-LT/Helvetica-Neue-LT-Roman.otf') format('opentype');
}

// .helvetica-lt-bold{
//   font-family: 'Helvetica-Neue-LT-Bold';
// }

// .helvetica-lt-light{
//   font-family: 'Helvetica-Neue-LT-Light';
// }

// .helvetica-roman{
//   font-family: 'Helvetica-Neue-LT-Roman';
// }

 // The font stack
$body-font-family: 'Helvetica-Neue-LT-Light', Helvetica, Arial, sans-serif;
$header-font-family: $body-font-family;
$default-font-weight: 100;
$default-font-size: 1.6rem;
$default-line-height: 1.5;
$heading-line-height: 1.3;

$h1-font-size: 4.2rem;    //44px
$h2-font-size: 3.2rem;    //37px
$h3-font-size: 2.6rem;    //27px
$h4-font-size: 2.4rem;    //23px
$h5-font-size: 1.8rem;  	//18px
$h6-font-size: 1.6rem;    //16px
$small-font-size: 1.2rem; //12px

%default-heading_font {
	color: $text-color;
	font-family: $body-font-family;
	text-rendering: optimizeLegibility;
	margin-top: 0.2rem;
	margin-bottom: 0.5rem;
	letter-spacing: 0;
	line-height: $heading-line-height;
	font-weight: $default-font-weight;
}

%default_body_font {
	color: $text-color;
	font-size: $default-font-size;
	font-family: $body-font-family;
	font-weight: $default-font-weight;
	line-height: $default-line-height;
	letter-spacing: 0;
}

html{
	font-size: 62.5%;
}

body, select, input, textarea {
	font-size: $default-font-size;
	@extend %default_body_font;
}

h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5, 
h6, .h6{
	@extend %default-heading_font;
}

// This is here because Drupal is putting random page titles all over the place
h1#page-title {
  display: none;
}

p, .p {
  @extend %default_body_font;
  margin-bottom: $global-margin;
}

b, .b, 
strong, .strong {
  font-weight: $global-weight-bold;
}

blockquote, .blockquote {
  border-left: none;
  font-style: normal;
  margin: 0;
  padding: 0 0 $global-padding*2;
  clear: both;
  p{
    @extend %h5-rwd;
  }
  p.quote-attribute {
    @extend %h6-rwd;
    margin-bottom: 10px;
    &:before{
      content: "- ";
    }
  }
  &:before{
    // content: url('/sites/all/themes/splash/assets/images/svg/quotes_left-quote.svg');
  }
  &:after{
    // content: url('/sites/all/themes/splash/assets/images/svg/quotes_right-quote.svg');
    float: right;
  }
  &:before, &:after{
    width: 40px;
    height: 27.826px;
    display: inline-block;
  }
  @include medium-screen{
    &:before, &:after{
      width: 60px;
      height: 41.739px;
    }
  }
}

/*
* the mixin for `@include respond-to(xxx)` is locatied in _media-queries partial
*/

%h1-rwd{
  font-size: $h1-font-size / 1.2;
  @include respond-to(small){
    font-size: $h1-font-size / 1.1;
  }
  @include respond-to(medium){
    font-size: $h1-font-size;
  }
}

%h2-rwd{
  font-size: $h2-font-size / 1.2;
  @include respond-to(small){
    font-size: $h2-font-size / 1.1;
  }
  @include respond-to(medium){
    font-size: $h2-font-size;
  }
}

%h3-rwd{
  font-size: $h3-font-size / 1.2;
  @include respond-to(small){
    font-size: $h3-font-size / 1.1;
  }
  @include respond-to(medium){
    font-size: $h3-font-size;
  }
}

%h4-rwd{
  font-size: $h4-font-size / 1.2;
  @include respond-to(small){
    font-size: $h4-font-size / 1.1;
  }
  @include respond-to(medium){
    font-size: $h4-font-size;
  }
}

%h5-rwd{
  font-size: $h5-font-size / 1.2;
  @include respond-to(small){
    font-size: $h5-font-size 1.1;
  }
  @include respond-to(medium){
    font-size: $h5-font-size;
  }
}

%h6-rwd{
    font-size: $h6-font-size / 1.2;
  @include respond-to(small){
    font-size: $h6-font-size / 1.1;
  }
  @include respond-to(medium){
    font-size: $h6-font-size;
  }
}

%small-fz{
	font-size: $small-font-size;
	line-height: 1.3em;
}

.small{
  @extend %small-fz;
}

h1, .h1 {
	@extend %h1-rwd;
}
h2, .h2 {
	@extend %h2-rwd;
}
h3, .h3 {
	@extend %h3-rwd;
}
h4, .h4 {
	@extend %h4-rwd;
}
h5, .h5 {
	@extend %h5-rwd;
}
h6, .h6 {
	@extend %h6-rwd;
}

%panel-label{
  text-transform: uppercase;
  @extend %h6-rwd;
  display: inline-block;
}
//=====================================================================
// Page Heading Exploration
//=====================================================================

%page-title{
  line-height: 1.125em;
  h1{
    // @extend .blue;
    margin-top: 0;
    margin-bottom: 0;
  }
}

%page-subhead{
  h2{
    // @extend .blue;
    @extend %h3-rwd;
    margin-top: 0;
  }
}

%page-title,
%page-subhead{
  // @extend .blue;
  text-align: center;
  margin-bottom: $global-margin/2;
  @include medium-screen{
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  @include large-screen{
    max-width: 80%;
  }
}

%page-intro{
  margin-bottom: $global-margin;
}

//=====================================================================
// Page Headings in use
//=====================================================================
#section-main-content{
  .field-name-title {
    @extend %page-title;
  }
  .field-name-field-subhead{
    @extend %page-subhead;
  }
  .field-name-field-intro-long{
    @extend %page-intro;
    max-width: 960px;
  }
  .field-name-field-subhead{
     padding-left: $global-padding;
     padding-right: $global-padding;
    @include tablet{
      padding-left: $global-padding * 3;
      padding-right: $global-padding * 3;
    }
  }
}