.print-menu, .onair-menu{
  text-align: right;
  margin-top: -50px;
  li{
    display: inline-block;
    a{
      padding: 10px 15px;
      display: inline-block;
    }
  }
  .widget ul > li{
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.onair-menu{
  .current-menu-item > a{
    background-color: yellow;
  }
}