.logged-in.admin-bar{
  .searchbar-toggle{
    top: 50px;
  }

  @media screen and (min-width: 1024px){
    .sticky-sidebar {
      top: 30px;
    }
  }
  // create some space between the download button and the edit button
  .downloadlink{
    button{
      margin-bottom: 15px;
    }
  }
}

a.post-edit-link{
  background-color: #eee;
  border: solid thin #ddd;
  border-radius: 4px;
  padding: 5px 10px;
  bottom: 0;
  right: 0;
  height:34px;
  display: inline-block;
  font-weight: $global-weight-heavy;
  &:hover{
    background-color: #ddd;
  }
}