%bg-img{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // background-image: $url_14;
}

%current-menu-item{
  color: $secondary-color;
  text-decoration: underline;
  font-weight: $global-weight-heavy;
}
